[user]
	email = mark.heiges@semanticbits.com
	name = Mark Heiges
[init]
	templateDir = /Users/mark.heiges/.git-template
[pull]
	rebase = true
[diff]
	colorMoved = dimmed_zebra
[alias]
  default-branch = "!git symbolic-ref refs/remotes/origin/HEAD | cut -f4 -d/"
  codef = "!git checkout $(git default-branch)"
  edit-branch-description="!git branch --edit-description"
  describe-branch="!git config branch.$(git rev-parse --abbrev-ref HEAD).description"
	co = checkout
	br = branch
	ci = commit
	st = status
	sta = status
	stat = status
[color]
	ui = true
[core]
	excludesfile = /Users/mark.heiges/.gitignore
